[submodule "EngineName/vendor/glfw/glfw"]
	path = EngineName/vendor/glfw/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "EngineName/vendor/glm/glm"]
	path = EngineName/vendor/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "EngineName/vendor/imgui/imgui"]
	path = EngineName/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "EngineName/vendor/assimp/assimp"]
	path = EngineName/vendor/assimp/assimp
	url = https://github.com/assimp/assimp.git
